<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List of Artist</title>
</head>
<body>
	<h1>Artist</h1>
	<ul>
		<% artists.forEach(function(artist){ %>
			<li> <a href="artists/<%=artist._id%>"><%=artist.name %></a> </li>
		<%})%>
	</ul>
</body>
</html>